body {
  font-family: "Inria Sans", sans-serif;
  background: #143d52;
}

h1 {
  color: #143d52;
  text-align: center;
  font-size: 50px;
}

main {
  padding: 0;
}

h2 {
  color: #143d52;
  margin: 0;
  font-size: 28px;
}

select {
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  font-family: "Inria Sans", sans-serif;
}

small {
  font-size: 18px;
  vertical-align: middle;
}

footer {
  text-align: center;
  padding: 20px 0 15px;
  font-size: 14px;
  font-style: italic;
  color: #fbfbfb;
}

footer a {
  color: #00d26a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  background-color: #fbfbfb;
  max-width: 600px;
  border-radius: 10px;
  margin: 50px auto 0;
  padding: 15px 30px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px dashed #143d52;
}

.city:last-child {
  border: none;
}

.time {
  font-size: 40px;
  font-family: "Courier New", monospace;
}

.fun-fact {
  margin-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  font-size: 18px;
  color: #143d52;
  border-bottom: 1px dashed #143d52;
}

.back-button {
  color: #143d52;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block;
}
